//* Crear un archivo llamado AuthApi.js configurando su ip local */

import axios from 'axios';
export default axios.create({
    baseURL: "http://<ip>:<puerto>/api/",
    headers: {
        "Content-type": "application/json",
    }
});