// el token por el momento es estático, se cambiará al almacenar el inicio de sesión

import axios from 'axios';
const token = "";
export default axios.create({
    baseURL: "http://<ip>:<puerto>/api/",
    headers: {
        "Content-type": "application/json",
        'Accept': 'application/json',
        "Access-Control-Allow-Origin": "*",
        "Authorization" : `Bearer ${token}`
    }
});