.bg-gray {
    color: #6c7885;
}

.bg-white {
    color: #f0f0f0;
    font-size: large;
}

.bg-primary {
    color: #1e88e5;
}

.bg-warning {
    color: #F2BA29;
}

.bg-success {
    color: #2ECC71;
}

.bg-danger {
    color: #fa584c;
}

.bg-sec {
    color: #b13cd2;
}

.bg-light {
    color: white;
}

.text-start {
    text-align: start;
}

.text-middle {
    display:inline-block;
    vertical-align: middle;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.bold {
    font-weight: bold;
}

.text-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: .9rem;
    padding: 10px;
    font-weight: normal;
}