.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}
body {
  background-color: #F4F7F8;
  font-family: "Poppins";
}

button {
  font-family: "Poppins";
}

i {
  font-size: 1.4rem !important;
  text-align: center;
}

img {
  border-radius: 100%;
  max-width: 170px;
  padding: 5px;
}

.content-data {
  border-radius: 20px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, var(--vs-shadow-opacity));
  background: rgba(var(--vs-background), 1);
}

.content-card {
  overflow: hidden;
  width: 90%;
  color: rgba(var(--vs-text), 1);
}

.datos {
  padding: 20px;
  text-align: center;
}

.text-start {
  text-align: start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.space {
  margin-bottom: 10px;
}

.space-top {
  margin-top: 10px;
}

.item-list {
  margin-top: 20px;
  color: #6c7885;
}

.bold {
  font-weight: bold;
}

.bg-gray {
  color: #6c7885;
}

.bg-primary {
  color: #1e88e5;
}

.bg-sec {
  color: #b13cd2;
}

.long {
  width: 90%;
}

.p {
  margin-right: 5px;
  margin-top: 20px;
}

.badge-sec {
  padding: 1px;
  background: #b13cd2;
  color: #fff;
  display: inline-block;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 1px 5px;
}

.con-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.divider {
  width: 100%;
  position: relative;
  display: block;
  margin: 10px 0;
  clear: both;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.border {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}