.content-data {
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, var(--vs-shadow-opacity));
    background: rgba(var(--vs-background), 1);
}

.content-card {
    overflow: hidden;
    width: 90%;
    color: rgba(var(--vs-text), 1);
}

.datos {
    padding: 20px;
    text-align: center;
}

.space {
    margin-bottom: 10px;
}

.space-top {
    margin-top: 10px;
}

.item-list {
    margin-top: 20px;
    color: #6c7885;
}


.long {
    width: 90%;
}

.p {
    margin-right: 5px;
    margin-top: 20px;
}

.badge-sec {
    padding: 1px;
    background: #b13cd2;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.badge-pri {
    padding: 1px;
    background: #1e88e5;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.badge-war {
    padding: 1px;
    background: #F2BA29;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.badge-dan {
    padding: 1px;
    background: #fa584c;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.badge-suc {
    padding: 1px;
    background: #2ECC71;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.badge-def {
    padding: 1px;
    background: #6c7885;
    color: #fff;
    display: inline-block;
    font-size: 0.9rem;
    border-radius: 5px;
    padding: 1px 5px;
}

.divider {
    width: 100%;
    position: relative;
    display: block;
    clear: both;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.border {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.pagination {
    padding: 8px 10px;
    background: rgba(var(--vs-gray-2), 1);
    border-radius: 0 0 14px 14px;
}

.header-table {
    width: 100%;
    padding-bottom: 10px;
    border-radius: 14px 14px 0px 0px;

}

.logo {
    border-radius: 6px !important;
}

.con-form {
    width: 100%;
    align-items: center;
}


.content-login {
    border-radius: 15px;
    overflow: hidden;
    width: 110% !important;
    color: rgba(var(--vs-text), 1);
}

.margin-xy {
    margin-left: 5%;
    margin-right: 5%;
}

.padding-xy {
    padding-left: 5%;
    padding-right: 5%;
}

.round {
    border-radius: 12px;
    border: 2px solid transparent;
}

.item:last-child {
    border-radius: 0 0 20px 20px;
}

.item:first-child {
    border-radius: 20px 20px 0 0;
}

.item:last-child>.divider>.border {
    border-top: 0px solid rgba(0, 0, 0, 0.1);
}

.item:hover {
    background: rgba(var(--vs-gray-1), 1) !important;
}

.custom-th {
    width: 100vh !important;
    border-radius: 20px;
    max-width: 100%;
}

.custom-th:hover {
    background: rgba(var(--vs-gray-1), 1) !important;
}

.item-click:hover {
    cursor: pointer;
}

.avatar-top {
    margin-top: -30px;
    border: 3px solid rgba(var(--vs-color), 1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .1);
}

.avatar-top-card {
    margin-top: -50px;
    border: 3px solid rgba(var(--vs-color), 1);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, .1);
}

.margin-top-avatar {
    margin-top: 50px;
}

.display-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.callout-primary {
    padding: .85rem;
    margin-top: .55rem;
    margin-bottom: .55rem;
    background-color: rgba(var(--vs-gray-1), 1);
    border-left: 0.35rem solid #1e88e5;
    border-radius: 5px;
}

.callout-seccess {
    padding: .85rem;
    margin-top: .55rem;
    margin-bottom: .55rem;
    background-color: rgba(242, 255, 229);
    border-left: 0.35rem solid #2ECC71;
    border-radius: 5px;
}

.avatar-lg-icon{
    font-size: 3rem !important;
}