button {
    font-family: "Poppins";
}

i {
    font-size: 1.4rem !important;
    text-align: center;
}

em {
    font-size: 1.4rem !important;
    text-align: center;
}

textarea {
    display: flex;
    border-radius: 12px;
    border: 2px solid transparent;
    background: #f4f7f8;
    font-family: "Poppins";
    padding: 20px;
    resize: vertical;
    width: 100%;
}

textarea::placeholder {
    color: #b5bdc3;
    visibility: visible;
    pointer-events: auto;
}

input[type="date" i] {
    align-items: center;
    display: inline-flex;
    font-family: "Poppins" !important;
    -webkit-padding-start: 10px;
    cursor: default;
    overflow: hidden;
    padding-left: 38px;
    margin: 0;
    max-height: 30px;
    color: rgba(var(--vs-text), 1);
}

.input-date {
    border-radius: 12px;
    border: 2px solid transparent;
    background: #f4f7f8;
}

.input-content {
    padding: 10px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    width: calc(100%);
}

.bg-component {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-long {
    width: 100%;
}

.button-long {
    margin: 0px;
    width: 85%;
}

.textarea-login {
    display: flex;
    border-radius: 12px;
    border: 2px solid transparent;
    background: #f4f7f8;
    font-family: "Poppins";
    width: 50px;
}

.button-center {
    width: 250px;
    padding: 20px;
}
input{
    font-family: "Poppins";
}

.select-custom {
    font-family: "Poppins";
    opacity: 1;
    left: 44px;
    background: transparent;
    border: 2px solid transparent;
    border-radius: 12px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, var(--vs-shadow-opacity));
    cursor: pointer;
    -webkit-transition: all .25s ease, height 0s;
    transition: all .25s ease, height 0s;
    background: rgba(var(--vs-gray-2), 1);
    color: rgba(var(--vs-text), 1);
    padding: 5px 0px 4px 13px;
    width: 100%;
}

.input-icon .select-custom{
    padding: 5px 0px 4px 36px;
}


.select-option {
    background-color: white;
}

.input-icon span{
    position: absolute;
    right: auto;
    width: 36px;
    height: 36px;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 9px;
    border-radius: 10px;
    box-shadow: 12px 0 10px -10px rgba(0,0,0,var(--vs-shadow-opacity));
    background: rgba(var(--vs-gray-2), 1);
}

