/* Método creado para la llamada de notificacions.
Se deberá copiar dentro de cada componente donde se requiera el uso de notificaciones */

    openNotification(border_, title_, text_) {
      let tipo = "";
      let icon_ = "";
      switch (border_) {
        case 1:
          tipo = 'success';
          icon_ = `<i class='bx bx-check-circle' ></i>`;
          break;
        case 2:
          tipo = 'primary';
          icon_ = `<i class='bx bx-info-circle'></i>`;
          break;
        case 3:
          tipo = 'warning';
          icon_ = `<i class='bx bx-error'></i>`;
          break;
        case 4:
          tipo = 'danger';
          icon_ = `<i class='bx bx-x-circle'></i>`;
          break;
      }
      this.$vs.notification({
        progress: "auto",
        position: null,
        title: title_,
        text: text_,
        border: tipo,
        icon: icon_,
      });
    },